@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html>
<head>
    <title>My Music Video</title>

</head>
<body>
    <iframe width="560" height="315" src="https://www.youtube.com/watch?v=6JQm5aSjX6g" frameborder="0" allowfullscreen></iframe>

    <div id="animation-box" style="width: 100px; height: 100px; background-color: red;"></div>
</body>
</html>

